# .gitignore

# 가상환경
venv/
.venv/

# 파이썬 캐시
__pycache__/
*.pyc
*.pyo

# 환경변수 (절대 커밋 금지)
.env

# SSH 키 / PEM 키 (절대 커밋 금지)
*.pem
*.ppk
*.key
*.p12
*.pfx
id_rsa
id_ed25519

# 발표자료 / 개인 문서
*.pptx
*.pdf
~$*

# OS
.DS_Store
Thumbs.db

# 로그 / DB
*.log
*.sqlite3
*.db

# 압축
*.tar
*.zip
*.gz

# Jupyter
.ipynb_checkpoints/

*.sh